<div class="row">
<h1 class="col-xs-10">All Articles</h1>
<%= link_to "New Article",new_article_path,class: "btn btn-success col-xs-2" %>
</div>
<% @articles.each do |a| %>
<div class="row">
    <div class="col-xs-8">
        <div class="well well-lg">
            <div class="article-title">
              <%=link_to a.title,article_path(a)  %>
            </div>
            <div class="article-body">
              <%=truncate(a.description,length: 300)  %>
            </div>

      <%= link_to "Edit",edit_article_path(a), class: "btn btn-primary btn-xs" %>
     <%= link_to "Delete This Article",article_path(a),method: :delete,data: {confirm: "Are You Sure To Delete This Article ?"},class: "btn btn-danger btn-xs"  %>
        </div>
    </div>
</div>
  <% end %>


    